# === Java ===
*.class
*.log

back/build/

# postgresql-*.jar

**/node_modules/
**/build/
**/dist/
**/.parcel-cache/
**/.next/
**/.cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*.local
.vscode/

.DS_Store
Thumbs.db

config.cfg

*.properties